# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/
.venv/

# VSCode settings
.vscode/


# Python packaging
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

# Jupyter runtime files
*.nbconvert.ipynb

# Environment files
.env